{% extends 'back-base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/backend">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/backend/project">Project</a>
        </li>
        <li class="breadcrumb-item active">{{ tag }}</li>
    </ol>
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>DevDate</th>
                <td>{{ project.devDate ? project.devDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TechnologyUsed</th>
                <td>{{ project.technologyUsed }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ project.state }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ project.body }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    {{ include('backend/project/_delete_form.html.twig') }}
{% endblock %}